name: store_app
description: "A new Flutter project."

version: 1.0.0+1

environment:
  sdk: ^3.6.1

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.2
  google_fonts: ^6.2.1
  intl: ^0.19.0

  cupertino_icons: ^1.0.8
  http: ^1.5.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0
  args: ^2.4.0
  mustache_template: ^2.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
